.icon {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.base-card {
  display: flex;
  width: 512px;
  min-height: 192px;
  margin: .5rem;
  padding: 1.5rem 2rem;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline-block;
}